{% extends 'base.html' %}
{% load static %}
{% block content %}

   
    <!--Header End-->

    <!--Banner Item Start-->
    <div class="banner">
        <div class="banner-item page-banner banner-bg overlay">
            <div class="container">
                <div class="head1">
                    <h2 class="text-white">About Us</h2>
                </div>
            </div>
        </div>
    </div>
    <!--Banner Item End-->


     <!--Facilities Section End-->
     <div class="facilities bg-light section-padding">

  
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!--Iconbox Start-->
                    <div class="iconbox bg-white">
                        <div class="icon text-center">
                            <span><i class="fa-solid fa-user-md"></i></span>
                        </div>
                        <div class="title text-center">
                            <h4>All Time Doctors</h4>
                        </div>
                        <div class="description text-center">

                            <p>we understand that health concerns can arise at any moment. That’s why our dedicated team of doctors is always ready to provide you with the care you need </p>

                           
                        </div>
                    </div>
                    <!--Iconbox Start-->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!--Iconbox Start-->
                    <div class="iconbox bg-white">
                        <div class="icon text-center">
                            <span><i class="fa-solid fa-wheelchair"></i></span>
                        </div>
                        <div class="title text-center">
                            <h4>Ready Wheelchairs</h4>
                        </div>
                        <div class="description text-center">

                            <p>we prioritize your comfort and accessibility. Our fleet of ready wheelchairs ensures that you can navigate our facility with ease, whether you're here for an appointment or visiting a loved one. With convenient access points and dedicated staff to assist you</p>

                            
                        </div>
                    </div>
                    <!--Iconbox Start-->
                </div>

                <div class="col-md-6 col-lg-4">
                    <!--Iconbox Start-->
                    <div class="iconbox bg-white">
                        <div class="icon text-center">
                            <span><i class="fa-solid fa-medkit"></i></span>
                        </div>
                        <div class="title text-center">
                            <h4>Emergency Services</h4>
                        </div>
                        <div class="description text-center">

                            <p>we understand that medical emergencies can happen at any time. Our dedicated Emergency Department is available 24/7 to provide urgent care for life-threatening conditions, unexpected illnesses, and injuries.</p>

                           
                        </div>
                    </div>
                    <!--Iconbox Start-->                
                </div>
            </div>
        </div>
    </div>
    <!--Facilities Section End-->

   <!--Services Start-->
   <section class="services-section section-padding bg-light">
    <div class="container">
        <div class="section-title">                
            <h2 class="title-lg text-center">Our Services</h2>
            <div class="separator text-center">
                <span class="line-pre bg-primary"></span>
                <span class="shape bg-primary"></span>
                <span class="line-post bg-primary"></span>
            </div>
            <div class="description text-center">
                <!-- <p>Consec tetur totam incidunt tenetur iste iure, nobis quam non recus andae consequ atur excep turi nihil animi autem porro conse qu untur.</p> -->
            </div>
        </div>
        <div class="services mt-5">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-ambulance"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Emergency Ambulance</h6>
                                <p>Our emergency ambulance service is available 24/7, ensuring that help is always just a call away. Equipped with advanced medical technology and staffed by trained professionals, our ambulances are ready to provide immediate care during critical situations.</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-bone"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Bone Surgery</h6>
                                <p>Our specialized orthopedic team offers advanced bone surgery services, including joint replacements, fracture repairs, and spinal surgeries. We utilize the latest techniques and technologies to ensure the best outcomes and a smooth recovery process.</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-disease"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Disease Surgery</h6>
                                <p>For patients requiring surgical intervention for various diseases, our experienced surgeons are here to help. We provide a range of disease-specific surgeries, focusing on precision and patient safety to enhance recovery and improve quality of life</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-laptop-medical"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Online Assistance</h6>
                                <p>Access healthcare from the comfort of your home with our online assistance services. Whether you need a consultation, follow-up care, or answers to your medical questions, our team is just a click away, offering convenience and expert advice.</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-id-card-alt"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Family Doctors</h6>
                                <p>Our family doctors are committed to providing personalized healthcare for individuals and families. From routine checkups to managing chronic conditions, our family medicine team is dedicated to supporting your health at every stage of life.</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
                <div class="col-xl-4 col-md-6">
                    <!--Service Item Start-->
                    <div class="service-item bg-white p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="icon">
                                    <i class="fa-solid fa-lungs"></i>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h6 class="title">Lung Treatments</h6>
                                <p>Our pulmonary specialists offer comprehensive lung treatments for conditions such as asthma, COPD, and pneumonia. We focus on accurate diagnosis and effective management plans to help you breathe easier and improve your overall lung health.</p>
                            </div>
                        </div>
                    </div>
                    <!--Service Item End-->                        
                </div>
            </div>
        </div>
    </div>
</section>

    <!--Call to action start-->
    <div class="cta section-padding bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="info">
                        <h3 class="text-white mb-2">Need a doctor for quick checkup?</h3>

                        <p class="text-white">If you're looking for a fast and convenient checkup, Our hosptial is here to help! Our experienced healthcare professionals are available to provide you with quick assessments tailored to your needs. Whether it's a routine health check or addressing specific concerns, we prioritize your time and well-being.</p>
=======
                    

                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="cta-block bg-white">

                        <span><i class="fa-solid fa-headphones-alt"></i> Call Now: 09068398792</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Call to action end-->




{% endblock %}